.contact{
    .content{
        max-width: 1440px;
        margin:auto;
        padding: 30px 50px;
        .note{
            text-align: center;
            margin-top: 2em;
        }
        .info-contact{
            margin: 2em 0em;
            .info-contact-item{
                display: flex;
                align-items: flex-start;
                padding: 10px;
                .icon{
                    min-width: 60px;
                    min-height: 60px;
                    background-color: #ec1f27;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     margin-right: 20px;
                }
                .text{
                    h5{
                        font-size: 16px;
                        text-transform: uppercase;
                        font-family: "FacebookR";
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .form-contact{
            .ct-btn{
                margin: 30px 10px;
                display: flex;
                justify-content: flex-end;
            }
            .ant-row{
                .ant-form-item{
                    margin-bottom: 0px;
                    padding: 0px 10px;
                    label{
                        font-family: "FacebookR";
                        font-size: 16px;
                    }
                }
            }
        }
        .maps{
            width: 100%;
            height: 600px;
            div{
                position: relative !important;
            }
        }
    }
}
.gm-style-pbc {
    z-index: 10 !important;
}

@media(max-width: 767.98px){
    .contact{
        .content{
            padding: 10px 20px 20px 20px;
            .info-contact{
                margin: 1em 0em;
            }
            .form-contact{
                .ct-btn{
                    margin: 10px;
                }
            }
            .maps{
                height: 500px;
            }
        }
    }
}