.discovery-detail{
    .content{
        max-width: 1024px;
        margin: auto;
        padding: 30px 50px;
        h4{
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            font-family: "FacebookR";
            color: rgba($color: #000000, $alpha: 0.65);
        }
        .time{
            display: flex;
            align-items: center;
            img {
                padding-right: 10px;
            }
        }
        .summary{
            font-style: italic;
            font-weight: 700;
            font-size: 16px;
            margin-top: 10px;
            text-align: justify;
        }
        .illustraton{
            img{
                width: 100%;
                padding: 20px 0px;
            }
            
        }
    }
}

@media(max-width: 767.98px){
    .discovery-detail{
        .content{
            padding: 10px 20px;
        }
    }
}