.discovery{
    .content{
        max-width: 1440px;
        margin: auto;
        padding: 30px 50px; 
        .tabs{
            margin-top: 1em;
            .ant-tabs-bar{
                border-bottom: none;   
               .ant-tabs-nav-wrap{
                   max-width: 1440px;
                   margin: auto;
                   padding: 0px 50px;
                   .ant-tabs-nav-scroll{
                       display: flex;
                       justify-content: center;
                       .ant-tabs-nav {
                           .ant-tabs-tab-active{
                               color: #ec1f27;
                           }
                           .ant-tabs-tab:hover{
                               color: #ec1f27
                           }
                       }
                       .ant-tabs-ink-bar{
                           background-color: #ec1f27;
                       }
                   }
               }
            }
        }
    }
}

@media(max-width: 767.98px){
    .discovery{
        .content{
            padding: 10px 20px;
            .tabs{
                margin-top: 0px;
            }
        }
    }
}