.introduce{
    .content{
        margin-top: 2em;
        max-width: 1440px;
        margin: auto;
        padding: 30px 50px;
        .introduce-tabs{
            margin-top: 2em;
            .whoWeAre{
                display: flex;
                .images{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                    .img-achievement{
                    width: auto;
                    height: 220px;
                    padding: 30px;
                    }
                }
            }
            .ant-tabs {
                .ant-tabs-content {
                    min-height: 500px;
                }
                .ant-tabs-left-content {
                    padding: 0px 24px;
                }
            }
            .ant-tabs-tab:hover{
                color: red
            }
            .ant-tabs .ant-tabs-left-bar .ant-tabs-tab{
                text-align: left;
                min-width: 240px;
            }
            .ant-tabs-nav .ant-tabs-tab-active{
                color: #ec1f27;
            }
            .ant-tabs-ink-bar{
                background-color: #ec1f27;
            }
            p{
                line-height: 30px;
                text-align: justify;
            }
            .highlight{
                font-weight: 700;
            }
            img{
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }
}

@media(max-width: 767.98px) {
    .introduce{
        .content{
            padding: 10px 20px;
            .introduce-tabs{
                margin-top: 1em;
                .whoWeAre{
                    display: block;
                    .images{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .img-achievement{
                        width: auto;
                        height: 180px;
                        padding: 20px;
                        }
                    }
                }
                .ant-tabs {
                    .ant-tabs-left-content {
                        padding: 0px;
                    }
                }
                .ant-tabs{
                    display: flex;
                    flex-direction: column;
                    .ant-tabs-left-content {
                        border-left: none;
                        padding-left: 0px;
                    }
                    .ant-tabs-tab{
                        margin: 0px;
                    }
                    .ant-tabs-tab:hover{
                        color: red
                    }
                    .ant-tabs-nav {
                        margin-bottom: 1em;
                    }
                    .ant-tabs-nav{
                        border-left: 1px solid #e8e8e8;
                    }
                }
            }
        }
    }
}