.services{
    .content{
        margin-top: 1em;
        .tabs{
            margin: 2em 0em;
            .ant-tabs-bar{
                border-bottom: none;   
               .ant-tabs-nav-wrap{
                   max-width: 1440px;
                   margin: auto;
                   padding: 0px 50px;
                   .ant-tabs-nav-scroll{
                       display: flex;
                       justify-content: center;
                       .ant-tabs-nav {
                           .ant-tabs-tab-active{
                               color: #ec1f27;
                           }
                           .ant-tabs-tab:hover{
                               color: #ec1f27
                           }
                       }
                       .ant-tabs-ink-bar{
                           background-color: #ec1f27;
                       }
                   }
               }
           }
        }
        
    }
}

@media(max-width: 767.98px) {
    .services{
        .content{
            .tabs{
                margin-top: 0px;
            }
        }
    }
}