.banner-header{
    .summary{
        max-width: 1440px;
        margin: auto;
        position: absolute;
        width: 100%;
        text-align: center;
        transform: translateX(-50%);
        left: 50%;
        padding: 0px 50px;
        .summary-title{
            font-family: "FacebookR";
            font-size: 3em;
            color: #fff;
            margin-top: 3em;
            text-transform: uppercase;
            margin-bottom: 0.5em;
        }
        .summary-info{
            color: #fff;
            .info-item{
                padding: 0px 20px;
                font-weight: 600;
                font-size: 16px;
                img{
                    margin-right: 10px;
                }
            }
            .mobile-scr{
                display: none;
            }
            .desktop-scr{
                span{
                    padding: 0px 30px;
                    img {
                        padding-right: 10px;
                    }
                }
            }
        }
        .countdown{
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            .slash {
                height:1px;
                width: 80px;
                background: #fff;
                margin: -10px;
                transform: rotate(-65deg);
                margin-top: 10px;
              }
            .countdown-item{
                padding: 30px;
                .up{
                    font-size: 3em;
                    font-family: "FacebookR";
                }
                .down{
                    text-transform: uppercase;
                    font-family: "FacebookR";
                    font-size: 20px;
                }
            }
        }
        .btn-more{
            display: flex;
            justify-content: center;
            margin-top: 1.5em;
            div {
                transform: skew(-20deg); 
                -webkit-transform: skew(-20deg);
                text-transform: uppercase;
                background-color: #ec1f27;
            }
            button{
                transform: skew(20deg); 
                -webkit-transform: skew(20deg);
                border: none;
                color: #fff;
                padding: 8px 25px;
                background: none;
                text-transform: uppercase;
                font-family: "FacebookR";
                word-spacing: 3px;
                outline: none;
            }
        }
    }
    .img-header{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

@media(max-width: 767.98px){
    .banner-header{
        .summary{
            padding: 10px 20px;
            .summary-title{
                font-size: 2em;
            }
            .summary-info{
                .info-item{
                    padding: 5px 20px;
                }
                .mobile-scr{
                    display: block;
                }
                .desktop-scr{
                    display: none;
                }
            }
            .countdown{
                .slash {
                    margin-top: 0px;
                }
                .countdown-item{
                    padding: 20px;
                    .up{
                        font-size: 2em;
                    }
                    .down{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}