.btn-slash{
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        transform: skew(-20deg); 
        -webkit-transform: skew(-20deg);
        text-transform: uppercase;
        background-color: #ec1f27;
    }
    button{
        transform: skew(20deg); 
        -webkit-transform: skew(20deg);
        border: none;
        color: #fff;
        padding: 8px 25px;
        background: none;
        text-transform: uppercase;
        font-family: "FacebookR";
        outline: none;
    }
}