.carousel{
  .carousel-img{
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }
  .carousel-img-500{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .ant-carousel {
    .slick-slide {
    text-align: center;
    overflow: hidden;
  }
    .slick-slide h3 {
      color: #fff;
    }
  }
  .slick-dots-bottom{
    bottom: 30px;
  }
}

@media(max-width: 767.98px) {
  .carousel{
    .carousel-img-500{
      height: 210px;
    }
  }
}