.category-title{
    .title-name{
        font-size: 2em;
        font-family: "FacebookR";
        text-transform: uppercase;
        color: #011027;
        text-align: center;
        margin-bottom: 0.5em;
    }
    .underline{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 767.98px) {
    .category-title{
        .title-name{
            font-size: 1.5em;
        }
    }
    .underline img{
        width: 65px;
    }
}