.coming-soon {
    margin-top: 2em;
    .blank-space{
        height: 100px;
    }
    .coming-background{
        background-color: #dde7e9;
        position: relative;
        .coming-content{
            max-width: 1440px;
            margin: auto;
            padding: 30px 50px;
            .btn-chevron-right{
                // right: 38px;
                padding: 0px;
            }
            .btn-chevron-left{
                // left: 38px;
                padding: 0px;
            }
            .ant-btn, .ant-btn:hover, .ant-btn:hover, .ant-btn:active{
                color: #fff;
                border: none; 
            }
            .dFFQiB{
                right: -1px;
            }
            .kaHnvc{
                left: -1px;
            }
        }
    }
    .coming-background::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #dde7e9;
        transform-origin: bottom left;
        transform: skewY(-3deg);
        z-index: -10;
    }
    .coming-background::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #dde7e9;
        transform-origin: bottom left;
        transform: skewY(3deg);
        z-index: -10;
    }
    .btn-more{
        display: flex;
        justify-content: center;
        div {
            transform: skew(-20deg); 
            -webkit-transform: skew(-20deg);
            text-transform: uppercase;
            background-color: #ec1f27;
        }
        button{
            transform: skew(20deg); 
            -webkit-transform: skew(20deg);
            border: none;
            color: #fff;
            padding: 8px 25px;
            background: none;
            text-transform: uppercase;
            font-family: "FacebookR";
            word-spacing: 3px;
            outline: none;
        }
    }
}

@media(max-width: 767.98px) {
    .coming-soon{
        margin-top: 1em;
        
        .blank-space{
            height: 20px;
        }
        .coming-background{
            .coming-content{
                padding: 20px;
            }
        }
        .coming-background::before{
            transform: skewY(0deg);
        }
        .coming-background::after{
            transform: skewY(0deg);
        }
        .btn-more{
            padding-bottom: 20px;
        }
    }
}