.complete-event{
        margin-top: 2em;
        .complete-background{
            .complete-content{
                max-width: 1440px;
                margin: auto;
                padding: 30px 50px;
                .btn-chevron-right{
                    padding: 0px;
                }
                .btn-chevron-left{
                    padding: 0px;
                }
                .ant-btn, .ant-btn:hover, .ant-btn:hover, .ant-btn:active{
                    color: #fff;
                    border: none; 
                }
                .dFFQiB{
                    right: -1px;
                }
                .kaHnvc{
                    left: -1px;
                }
            }
        }
        .btn-more{
            display: flex;
            justify-content: center;
            div {
                transform: skew(-20deg); 
                -webkit-transform: skew(-20deg);
                text-transform: uppercase;
                border: 1px solid #ec1f27;
            }
            button{
                transform: skew(20deg); 
                -webkit-transform: skew(20deg);
                border: none;
                color: #ec1f27;
                padding: 8px 25px;
                background: none;
                text-transform: uppercase;
                font-family: "FacebookR";
                word-spacing: 3px;
                outline: none;
            }
        }
}

@media(max-width: 767.98px) {
    .complete-event{
        margin-top: 1em;
        .complete-background{
            position: relative;
            .complete-content{
                padding: 10px 20px;
            }
        }
        .btn-more{
            padding-bottom: 20px;
        }
    }
}