.connection{
    .blank-space{
        height: 100px;
    }
    .connection-bg{
        background-color: #dde7e9;
        position: relative;
        .connection-content{
            max-width: 1440px;
            margin: auto;
            padding: 30px 50px;
        }
    }
    .connection-bg::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #dde7e9;
        transform-origin: bottom left;
        transform: skewY(-3deg);
        z-index: -10;
    }
}

@media(max-width: 767.98px){
    .connection{
        margin-top: 2em;
        .blank-space{
            display: none;
        }
        .connection-bg{
            padding-top: 2em;
            .connection-content{
                padding: 10px 20px
            }
        }
        .connection-bg::before{
            transform: skewY(0deg);
        }
    }
}