.connection-detail {
    margin-bottom: 2em;
    .connection-title{
        text-transform: uppercase;
        text-align: center;
        font-family: "FacebookR";
        font-size: 1.5em;
        color: #011027;
        span{
            background-color: #dde7e9;
            padding: 0px 20px;
        }
    }
    .dFFQiB{
        right: -1px;
    }
    .kaHnvc{
        left: -1px;
    }
    .middle-line{
        border-top: 1px solid #cdcdcd;
        margin-bottom: 2em;
        margin-top: -15px;
    }
    .logo-brand{
        width: 100%;
    }
    .btn-chevron-right{
        padding: 0px;
    }
    .btn-chevron-left{
        padding: 0px;
    }
    .ant-btn, .ant-btn:hover, .ant-btn:hover, .ant-btn:active{
        color: #fff;
        border: none; 
    }
}


@media (max-width: 767.98px){
    .connection-detail{
        margin-bottom: 1em;
        .connection-title{
            font-size: 1.2em;
        }
    }
}