.footer{
    background-color: #ec1f27;
    color: #fff;
    .footer-bg{
        max-width: 1440px;
        margin: auto;
        padding: 30px 50px;
        .footer-logo{
            margin-bottom: 20px;
        }
        p{
            margin-bottom: 10px;
            text-align: left;
            max-width: 280px;
            line-height: 25px;
            text-align: justify;
            font-size: 13px;
            a{
                color: #fff;
                text-decoration: none;
            }
            span{
                font-weight: 600;
            }
        }
        .col{
            padding: 0px 10px;
            h4{
                color: #fff;
                font-family: "FacebookR";
                font-size: 16px;
                margin-bottom: 20px;
            }
            .sns {
                margin-bottom: 20px;
                img{
                    padding-right: 30px;
                }
            }
            .mobile-scr{
                display: none;
            }
        }
    }
}
@media(max-width: 767.98px){
    .footer{
        .footer-bg{
            padding: 20px;
            p{
                max-width: none;
            }
           .col{
               h4{
                margin-bottom: 10px;
                font-size: 15px;
               }
                .large-scr{
                    display: none;
                }
                .mobile-scr{
                    display: block;
                }
            }
        }
    }
}