.header{
    background-color: rgba($color: #49515f, $alpha: 0.65);
    height: 70px;
    position: fixed;
    z-index: 2;
    width: 100%;
    .max-width {
        max-width: 1440px;
        margin: auto;
        padding: 0px 40px;
        display: flex;
        justify-content: space-between;
        .logo-img {
            width: 15%;
            img{
                width: 100%;
            }
        }
        .large-screen{
            .active {
                .menu{
                    color: red !important;
                }
                color: red;
            }
            ul{
                z-index: 3;
                margin-bottom: 0px;
                padding-left: 0px;
                padding-top: 25px;
                li{
                    display: inline;
                    padding-left: 20px;
                    .menu{
                        text-decoration: none;
                        color: #fff;
                        font-family: "FacebookR";
                        font-size: 16px;
                        cursor: pointer;
                    }
                    .menu:hover {
                        color: red;
                    }
                }
            }
        }
    }
}

@media(max-width: 767.98px){
    .large-screen{
        display: none !important;
    }
    .header{
        background-color: rgba($color: #231f20, $alpha: 0.65);
        height: 55px;
        .max-width{
            padding: 0px 10px;
            .logo-img {
                width: 35%;
                img{
                    width: 100%;
                }
            }
            .mobile-screen{
                margin-top: 12px;
                button{
                    padding: 0px;
                    margin-right: 10px;
                    background: transparent;
                    border: none;
                    i{
                        color: #fff;
                        font-size: 24px;
                    }
                }
            }
        }
        .ant-drawer-wrapper-body{
            background-color: #231f20;
            .ant-drawer-header{
                background-color: #231f20;
                border-bottom: 1px solid rgba($color: #fff, $alpha: 0.35);
                i{
                    color: #fff;
                    font-size: 24px;
                }
            }
            .ant-drawer-body{
                background-color: #231f20;
                padding: 0px;
                .side-menu{
                    margin: 0px;
                    padding: 20px;
                    li{
                        list-style: none;
                        padding-bottom: 20px;
                        .active{
                            color: #ec1f27 !important;
                            font-weight: 700;
                        }
                        a{
                            color: #fff;
                        }
                    }
                }
            }
        }
        
    }
}

@media(min-width: 768px){
    .mobile-screen{
        display: none;
    }
}