.impressive {
    position: relative;
    margin-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    .impress-title{
        z-index: 2;
        position: absolute;
        top: 4em;
        padding-top: 2em;
    }
    .impressive-bg{
        width: 100%;
        //position: absolute;
        top: 0px;
    }
    .impressive-mobile-bg{
        display: none;
    }

    .statistic {
        position: absolute;
        width: 100%;
        margin-top: 2em;
        .detail{
            max-width: 1440px;
            padding: 0px 50px;
            margin: auto;
            h1 {
                font-size: 5em;
                font-weight: 700;
                color: #02204e;
                text-align: center;
                margin-bottom: 0px;
            }
            h5 {
                text-transform: uppercase;
                color: #ec1f27;
                font-size: 1em;
                font-weight: 700;
                text-align: center;
            }
        }
    }
}

@media(max-width: 767.98px){
    .impressive{
        margin-top: 1em;
        .impress-title{
            padding-top: 0em;
            top: 3em;
        }
        .impressive-bg{
            display: none;
        }
        .impressive-mobile-bg{
            display: block;
            width: 100%;
            //position: absolute;
            top: 0px;
        }
    }
}

@media(min-width: 768px) and (max-width: 991.98px){
    .impressive{
        .impress-title{
            padding-top: 0px;
            top: 2em;
        }
        .statistic {
            .detail{
                h1 {
                    font-size: 3em;
                }
                h5 {
                    font-size: 12px;
                }
            }
        }
    }
}

@media(min-width: 1024px) and (max-width: 1199.98px){
    .impressive{
        .impress-title{
            padding-top: 10px;
            top: 3em;
        }
        .statistic {
            .detail{
                h1 {
                    font-size: 5em;
                }
                h5 {
                    font-size: 1em;
                }
            }
        }
    }
}