.internal-news{
        margin-top: 1em;
    .first-news{
        cursor: pointer;
        .info{
            position: absolute;
            padding: 10px;
            margin: 10px;
            width: calc(100% - 20px);
            bottom: 0;
            color: #fff;
            background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.85));
            h4{
                color: #fff !important;
                font-weight: 600;
                font-size: 16px;
            }
            img{
                padding-right: 10px;
            }
        }
        .info-img{
            width: 100%;
            height: 650px;
            object-fit: cover;
            padding: 10px;
        }
    }
}

@media(min-width: 768px) and (max-width: 991.98px){
    .internal-news{
        margin-top: 0px;
        .first-news{
            .info-img{

            }
        }
    }
}

@media(max-width: 767.98px){
    .internal-news{
        margin-top: 0px;
        .first-news{
            .info {
                margin: 10px 0px;
                width: 100%;
            }
            .info-img{
                height: 420px;
                padding: 10px 0px;
            }
        }
    }
}