.internal-news-detail{
    margin: 10px;
    height: 305px;
    cursor: pointer;
    .info{
        border: 1px solid #cdcdcd;
        height: 140px;
        padding: 10px 20px;
        div{
            display: flex;
            align-items: center;
            img {
                padding-right: 10px;
            }
            span{
                
                text-decoration: none;
                color: #000;
            }
        }
            h4{
                overflow: hidden;
                max-height: 45px;
                text-transform: uppercase;
                text-align: justify;
                font-family: "FacebookR";
                font-size: 16px;
            }
            p{
                overflow: hidden;
                max-height: 40px;
                text-align: justify;
                text-decoration: none;
                color: #000;
            }
    }
    .info-img{
        width: 100%;
        object-fit: cover;
        height: 165px;
    }
}
.internal-news-detail:hover{
    h4{
        color: #ec1f27;
    }
}
@media(min-width: 768px) and (max-width: 991.98px){
    .internal-news-detail{
        height: 420px;
        .info{
            height: 120px;
        }
        .info-img{
            width: 100%;
            object-fit: cover;
            height: 300px;
        }
    }
}

@media(max-width: 767.98px){
    .internal-news-detail{
       margin: 10px 0px;
       
    }
}