.news{
    margin-top: 2em;
    .news-list{
        max-width: 1440px;
        margin: 30px auto;
        padding: 0px 50px;
        display: flex;
        overflow: auto;
    }
    .btn-more{
        display: flex;
        justify-content: center;
        div {
            transform: skew(-20deg); 
            -webkit-transform: skew(-20deg);
            text-transform: uppercase;
            border: 1px solid #ec1f27;
        }
        button{
            transform: skew(20deg); 
            -webkit-transform: skew(20deg);
            border: none;
            color: #ec1f27;
            padding: 8px 25px;
            background: none;
            text-transform: uppercase;
            font-family: "FacebookR";
            outline: none;
        }
    }
}

@media(max-width: 767.98px){
    .news{
        .news-list{
            overflow: auto;
            margin: 20px;
            padding: 0px;
        }
    }
}