.news-detail{
    padding: 10px;
    width: 335px;
    .ant-card-cover {
        img{
            height: 232px;
        }
    }
    .news-time{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        img {
            margin-right: 10px;
        }
        span{
            color: #011027;
        }
    }
    .news-title{

    }
}
