.tournament-red{
    padding: 10px;
    .tournament-title {
        text-transform: uppercase;
    }
    .tournament-content{
        color: #fff;
        margin-top: 10px;
        p{
            margin-bottom: 10px;
            text-align: justify;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p:last-child {
            margin-bottom: 0px;
        }
        td{
            padding-right: 10px;
            padding-bottom: 5px;
            .tournament-info {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    .ant-card-body{
        background-color: #ec1f27;
        .ant-card-meta-title {
            color: #fff;
            font-family: "FacebookR";
            font-size: 1.5em;
            word-spacing: 3px;
        }
    }
}
.tournament-red:last-child{
    padding-right: 0px;
}
.tournament-red:first-child{
    padding-left: 0px;
}
.tournament-white{
    padding: 10px;
    .tournament-title {
        text-transform: uppercase;
    }
    .tournament-content{
        color: #011027;
        margin-top: 10px;
        p{
            margin-bottom: 10px;
            text-align: justify;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;    
        }
        p:last-child {
            margin-bottom: 0px;
        }
        td{
            padding-right: 10px;
            padding-bottom: 5px;
            .tournament-info {
                color: #ec1f27;
                text-decoration: underline;
            }
        }
    }
    .ant-card-body{
        background-color: #fff;
        .ant-card-meta-title {
            color: #011027;
            font-family: "FacebookR";
            font-size: 1.5em;
            word-spacing: 3px;
        }
    }
}
.tournament-white:last-child{
    padding-right: 0px;
}
.tournament-white:first-child{
    padding-left: 0px;
}

@media(max-width: 767.98px) {
    .tournament-red{
        padding: 0px;
    }
}