.tournament-organization {
    .blank-space{
        height: 50px;
    }
    .tournament-organization-background{
        background-color: #dde7e9;
        position: relative;
        .tournament-organization-coming{
            .mobile-scr{
                display: none;
            }
            h2{
                text-transform: uppercase;
                font-family: "FacebookR";
                text-align: center;
            }
            max-width: 1440px;
            margin: auto;
            padding: 0px 50px 30px 50px;
            .btn-chevron-right{
                right: 38px;
                padding: 0px;
            }
            .btn-chevron-left{
                left: 38px;
                padding: 0px;
            }
            .ant-btn, .ant-btn:hover, .ant-btn:hover, .ant-btn:active{
                color: #fff;
                border: none; 
            }
        }
    }
    .tournament-organization-background::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #dde7e9;
        transform-origin: bottom left;
        transform: skewY(-3deg);
        z-index: -10;
    }
    .tournament-organization-background::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #dde7e9;
        transform-origin: bottom left;
        transform: skewY(3deg);
        z-index: -10;
    }
    .tournament-organization-finished{
        h2{
            text-transform: uppercase;
                font-family: "FacebookR";
                text-align: center;
        }
        max-width: 1440px;
        margin: auto;
        padding: 30px 50px;
        .tournament-white {
            padding: 10px;
        }
    }
    
    .btn-more{
        display: flex;
        justify-content: center;
        div {
            transform: skew(-20deg); 
            -webkit-transform: skew(-20deg);
            text-transform: uppercase;
            border: 1px solid #ec1f27;
        }
        button{
            transform: skew(20deg); 
            -webkit-transform: skew(20deg);
            border: none;
            color: #ec1f27;
            padding: 8px 25px;
            background: none;
            text-transform: uppercase;
            font-family: "FacebookR";
            word-spacing: 3px;
            outline: none; 
        }
    }
}
    .ant-tabs-nav{
        div{
            .ant-tabs-tab{
                text-transform: uppercase;
            }
        }
    }

@media (max-width: 767.98px) {
    .tournament-organization {
        .blank-space{
            height: 0px;
        }
        .tournament-organization-background{
            .tournament-organization-coming{
                padding: 10px 20px;
                .mobile-scr{
                    display: block;
                    .mobile-item{
                        padding: 10px 0px;
                    }
                    .mobile-item:first-child{
                        padding-top: 0px;
                    }
                }
                .large-src{
                    display: none;
                }
                h2{
                    
                }
                
                
            }
        }
        .tournament-organization-background::before{
            transform: skewY(0deg);
        }
        .tournament-organization-background::after {
            transform: skewY(0deg);
        }
        .tournament-organization-finished{
            padding: 10px 20px;
            h2{
                
            }
            .tournament-white {
                padding: 10px 0px;
            }
        }
        
        .btn-more{
        }
    }
    .ant-tabs-nav{
        div{
            display: flex;
            flex-direction: column;
            .ant-tabs-tab{
                margin: 20px 0px 0px 0px;
                text-align: center;
                padding: 0px;
            }
            .ant-tabs-tab:last-child{
                margin-top: 10px;
            }
        }
        .ant-tabs-ink-bar{
            display: none !important;
        }
    }
}