.tour-detail{
        .tabs{
        max-width: 1440px;
        margin: auto;
        padding: 30px 50px;
        .ant-tabs-bar{
            border-bottom: none;   
           .ant-tabs-nav-wrap{
               .ant-tabs-nav-scroll{
                   display: flex;
                   justify-content: center;
                   .ant-tabs-nav {
                       .ant-tabs-tab-active{
                           color: #ec1f27;
                       }
                       .ant-tabs-tab:hover{
                           color: #ec1f27
                       }
                   }
                   .ant-tabs-ink-bar{
                       background-color: #ec1f27;
                   }
               }
           }
       }
        .title{
            font-size: 24px;
            font-family: "FacebookR";
            font-weight: 500;
        }
        .tour-title {
            font-size: 16px;
            text-transform: uppercase;
            text-align: justify;
            font-family: "FacebookR";
            font-weight: 500;
        }
        .tour-description{
            text-align: justify;
            line-height: 35px;
        }
            .discountPolicy{
                .ant-table{
                    .ant-table-body {
                        display: flex;
                        justify-content: center;
                    }
                    table {
                        margin-bottom: 2em;
                        max-width: 600px;
                    }
                    .ant-table-thead tr th {
                        background-color: #213753;
                        color: #fff;
                        border-right: 2px solid #fff;
                        text-align: center;
                    }
                    .ant-table-thead tr th:first-child {
                        background-color: #669938;
                    }
                    .ant-table-tbody tr td{
                        border-right: 2px solid #fff;
                        text-align: center;
                        text-transform: uppercase;
                    }
                    .ant-table-tbody tr td:first-child{
                        text-align: left;
                        font-weight: 700;
                        text-transform: none;
                    }
                    .ant-table-tbody tr:nth-child(odd){
                        background-color: #e9e9e9;
                    }
                    .ant-table-tbody tr:nth-child(even){
                        background-color: #f6f5f5;
                    }
                    // do nothing when hover on row
                    .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
                    .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
                    .ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td, 
                    .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
                        background: unset; //Change the existing color to `unset`
                    }
                }
                    .ant-table-pagination{
                        display: none;
                    }
            }
        .register-tour{
            margin-top: 2em;
            .ant-table{
                table {
                    margin-bottom: 2em;
                }
                .ant-table-thead tr th {
                    background-color: #213753;
                    color: #fff;
                    border-right: 2px solid #fff;
                    text-align: center;
                }
                .ant-table-thead tr th:first-child {
                    background-color: #669938;
                }
                .ant-table-tbody tr td{
                    border-right: 2px solid #fff;
                    text-align: center;
                    text-transform: uppercase;
                }
                .ant-table-tbody tr td:first-child{
                    text-align: left;
                    font-weight: 700;
                    text-transform: none;
                }
                .ant-table-tbody tr:nth-child(odd){
                    background-color: #e9e9e9;
                }
                .ant-table-tbody tr:nth-child(even){
                    background-color: #f6f5f5;
                }
                // do nothing when hover on row
                .ant-table-thead>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
                .ant-table-tbody>tr.ant-table-row-hover:not(.ant-table-expanded-row)>td, 
                .ant-table-thead>tr:hover:not(.ant-table-expanded-row)>td, 
                .ant-table-tbody>tr:hover:not(.ant-table-expanded-row)>td {
                    background: unset; //Change the existing color to `unset`
                }
            }
                .ant-table-pagination{
                    display: none;
                }
        }
        .register-rule{
            text-align: justify;
            line-height: 35px;
            margin-bottom: 2em;
        }
        .register-now{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
            }
            .register{
                display: flex;
                position: absolute;
                h2{
                    font-size: 2.5em;
                    font-family: "FacebookR";
                    text-transform: uppercase;
                    margin: 0px;
                    padding-right: 30px;
                    font-weight: 500;
                }
            }
        }
            .share{
                margin-top: 2em;
                font-weight: 700;
                img{
                    margin-left: 10px;
                }
            }
    }
}

@media(max-width: 767.98px){
    .tour-detail{
        .tabs{
            padding: 10px 20px;
            .register-tour{
                .ant-table-wrapper{
                    overflow: auto;
                }
            }
            
        }
        .register-now{
            img{
                height: 160px;
                object-fit: cover;
            }
            .register{
                display: block !important;
                left: 50%;
                transform: translateX(-50%);
                min-width: 250px;
                h2{
                    font-size: 1.5em !important;
                    padding-right: 0px !important;
                    text-align: justify;
                    margin-bottom: 1em !important;
                }
            }
        }
    }
}